<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<h3 class="title is-5 has-text-black-light">Status</h3>
   <div class="field has-addons">
   
     <%= f.input :status, input_html: { class: 'input' }, wrapper: false,  label_html:{ class: 'label' },label: false%>
      <%= f.button :submit, 'Post Status', class: 'button is-info' %>
  
 </div>

 


<% end %>
