<p id="notice"><%= notice %></p>
<div class="columns">
  <div class="column is-one-quarter">
    <%= render 'profileleft' %>
  </div>
  <div class="column is-two-quarter">
    <%= render 'form', profile: @profile %>
    <br />
<%= render 'shared/profiles' %>
  </div>
  <div class="column is-one-quarter">
    <%= render 'profileright' %>
  </div>
 
</div>
 


<br>

